<ul class="owl-carousel owl-theme">
  <li>
    <img src="/ksenia_portofolio/assets/img/test/fleur1.jpg"  alt="" />
  </li>
  <li>
    <img src="/ksenia_portofolio/assets/img/test/fleur2.jpg"  alt="" />
  </li>
  <li>
    <img src="/ksenia_portofolio/assets/img/test/fleur3.jpg"  alt="" />
  </li>
  <li>
    <img src="/ksenia_portofolio/assets/img/test/fleur4.jpg"  alt="" />
  </li>
  <li>
    <img src="/ksenia_portofolio/assets/img/test/fleur5.jpg"  alt="" />
  </li>
  <li>
    <img src="/ksenia_portofolio/assets/img/test/fleur6.jpg"  alt="" />
  </li>
</ul>
