<header>
  <h1>
    <a href="{{ site.baseurl }}">Ksenia Mikolajczyk</a>
  </h1>
  <div class="units-row subheader">
    <div class="unit-20">
      <h3 class="subheading">Sets & Photos Stylist</h3>
    </div>
    <div class="unit-80">
      <nav id="head-nav" class="navbar">
        <ul class="menu navbar-right">
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li>
            <a href="#">Visual Merchandiser</a>
            <ul class="subnav">
              <li><a href="#">Truffault</a></li>
              <li><a href="#">Princess Tam Tam<a></li>
            </ul>
          </li>
          <li><a href="scenographist">Scengraphist</a></li>
          <li><a href="photo_stylist">Photo Stylist</a></li>
          <li><a href="sets">Sets</a></li>
          <li><a href="perso">Perso</a></li>
        </ul>

      </nav>
    </div>

  </div>

</header>
