<header>
  <h1>
    <a href="{{ site.baseurl }}">Mikolajczyk Ksenia</a>
  </h1>
  <div class="units-row subheader">
    <div class="unit-20">
      <h3 class="subheading">Sets & Photos Stylist</h3>
    </div>
    <div class="unit-80">
      <nav id="head-nav" class="navbar">
        <ul class="menu navbar-right">
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li>
            <a href="/free_lancer">Free Lancer</a>
            <ul>
              <li><a href="/free_lancer/mapping_and_webb">Mappin & Webb</a></li>
              <li><a href="/free_lancer/optical">Optical shop Paris 11e<a></li>
            </ul>
          </li>
          <li><a href="/inpiration">Inspiration</a></li>
          <li>
            <a href="/perso">Perso</a>
            <ul>
              <li><a href="/perso/arts">Arts</a></li>
              <li><a href="/perso/photos">Photos</a></li>
              <li><a href="/perso/practice">Practice</a></li>
            </ul>
          </li>
          <li>
            <a href="/photo_stylist">Photo Stylist</a>
            <ul>
              <li><a href="/photo_stylist/elle">Elle</a></li>
              <li><a href="/photo_stylist/marie_claire">Marie Claire</a></li>
              li
            </ul>
          </li>
          <li>
            <a href="/visual_merchandising">Visual Merchandising</a>
            <ul>
              <li><a href="/visual_merchandising/ptt">Princess Tam-Tam</a></li>
              <li><a href="/visual_merchandising/truffaut">Truffaut</a></li>
            </ul>
          </li>
        </ul>

      </nav>
    </div>

  </div>

</header>
