<header>
  <h1>
    <a href="{{ site.baseurl }}">Ksenia Mikolajczek</a>
  </h1>

  <h3 class="subheading left">Sets & Photos Stylist</h3>
  <nav id="head-nav" class="navbar navbar-right">
    <ul>
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><a href="/visual_manager">Visual Manager</a></li>
      <li><a href="/scenographist">Scengraphist</a></li>
      <li><a href="/photo_stylist">Photo Stylist</a></li>
      <li><a href="/sets">Sets</a></li>
      <li><a href="/perso">Perso</a></li>
    </ul>
  </nav>

</header>
