body {
    background-color: black;
}

a {
    text-decoration: none;
}

.wrap {
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

.content {
    height: 900px;
    background: url("/images/ksenia_bg_900.png") no-repeat;
    color: rgb(159, 159, 159);

}

.content .intro {
    padding-top: 5em;
}

.content a {
    color: rgb(103, 103, 103);
}

blockquote {
    border-left: 2px solid rgb(103, 103, 103);
}
.content ul.owl-carousel { margin: 0; }


/* header */
header {
    padding-top: 1em;
    /* overflow: hidden; */
    border-bottom: 1px solid rgb(139, 139, 139);
}

header h1 a {
    color: rgb(159, 159, 159);
}

header h3 {
    color: rgb(103, 103, 103);
}

header .navbar > ul li a:hover, header .navbar > ul li a:visited, header .navbar > ul li a:active {
    color: rgb(103, 103, 103);
}

header .navbar ul li a:hover {
    color: rgb(139, 139, 139);
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: rgb(139, 139, 139);
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: rgb(103, 103, 103);
}

.subheader {
    margin-bottom: 0;
}

ul.subnav {
    background-color: rgb(159, 159, 159);
}
ul.subnav li {
    margin-left: 0;
    padding-left: 1px;
}


ul.subnav li a {
    color: #000;
}
